.page-container {
    width: 100vw;
    height: 100vh;
    font-family: "Oswald", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #393B43;
    padding-top: 10px;
}

.robotID {
    font-family: "Oswald", sans-serif;
    border-radius: 20px;
    border: none;
    background-color: #CFCFD1;
    color: #95969A;
    font-size: 30px;
    margin-top: 10%;
    margin-bottom: 10%;
    height: 8%;
    width: 50%;
    min-width: 320px;
    min-height: 50px;

    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    font-weight: lighter;
}

.connect-btn {
    margin-bottom: 10%;
    border-radius: 20px;
    font-family: "Oswald", sans-serif;
    border: none;
    font-size: 23px;
    font-weight: 400;
    background-color: #FCC26E;
    color: #393B43;
    
    height: 9%;
    width: 13%;
    min-width: 200px;
    min-height: 50px;

}
