.page-container {
    width: 100vw;
    height: 100vh;
    font-family: "Oswald", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #393B43;
    padding-top: 10px;
}

.log-screen {
    font-size: 30px;
    margin-top: 15px;
    height: 55%;
    width: 50%;
    min-height: 400px;
    min-width: 320px;
    border-radius: 20px;
    background-color: #EBEBEB;
    color: #BBBCBE;
    font-weight: lighter;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clear-btn {
    margin-top: 30px;
    margin-bottom: 2%;
    border-radius: 20px;
    font-family: "Oswald", sans-serif;
    border: none;
    font-size: 30px;
    background-color: #D8D8D8;
    color: #393B43;
    width: 260px;
    height: 80px;
}

@media (max-width: 1200px) {
    .log-screen{
        width: 70%;
    }
}